# PostgreSQL
DATABASE_URL=postgres://127.0.0.1/yyw_test

# third party
OPENWEATHERMAP_API_KEY=5e59f877bddafa20efd6b186ccd31032

# General settings
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=72h5lc_rbrh4-p698g6%=fh_sz=-lt^81i3-)ipeuh&=5-+^_e
DJANGO_ALLOWED_HOSTS=.example.com

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False
